**This set of notebooks discusses conditional execution.**

We begin by introducing the boolean (`bool`) data type.  The `bool` data type allows only two values:
1. True
2. False

Note both values are case sensitive and should be written exactly as shown above.

We also take a look at the comparison operators that can be used to compare arithmetic expressions with each other 
or string expressions with each other.  While comparing string values with numeric values will not result in an error the results are often surprising and unpredictable.  

Expressions involving comparison operators will return a `bool` value

In [2]:
print(type(False))
print(type(True))

<class 'bool'>
<class 'bool'>

The following operators are called relational or comparison operators.  
`>`  
`>=`  
`<`  
`<=`  
`==` (equal to - note the two equal signs)  
`!=` (not equal to)  

These operators can be used to compare arithmetic or string expressions with each other.

<h4>Comparing numeric values, numeric variables and / or numeric expressions</h4>

Given the following assignment statements:
```Python
x = 18
y = 20
```
Evaluate each of the print statements below.

In [4]:
x = 18
y = 20

In [5]:
print(f'x > y: {x > y}')

x > y: False

In [6]:
print(f'y > 15: {y > 15}')

y > 15: True

In [7]:
print(f'x * y > 350: {x*y > 350}')

x * y > 350: True

<h4>Comparing string values and / or string variables.</h4>

Given the following assignment statements:
```Python
str1 = 'hzzzzzzzzzz'
str2 = 'Hello'
str3 = 'hell'
str4 = 'hello'
str5 = 'k'
```
Evaluate each of the print statements below.

In [8]:
str1 = 'hzzzzzzzzzz'
str2 = 'Hello'
str3 = 'hell'
str4 = 'hello'
str5 = 'k'

In [9]:
print(f'str1 > str2: {str1 > str2}')

str1 > str2: True

In [10]:
print(f'str1 > str3: {str1 > str3}')

str1 > str3: True

In [11]:
print(f'str1 > str4: {str1 > str4}')

str1 > str4: True

In [12]:
print(f'str1 > str5: {str1 > str5}')

str1 > str5: False