<h3>Tuple Operators and Tuple Methods</h3>

This notebook covers the operators and methods applicable to tuples
1. The concatenation (`+`) operator
2. The multiplication (`*`) operator
3. The `del` operator

Tuples only have two built-in methods.  As usual, they are accessed as follows: `tuplename.methodname()`  
1. The `count()` method : counts the number of times an element occurs in a tuple  
2. The `index()` method : returns the index of the first occurence of the argument

We also discuss tuple unpacking (aka tuple assignment).

We can concatenate two tuples together using the concatenation (`+`) operator.

In [2]:
a = (1, 2, 3)
b = (4,)
c = b + a
print(c)

(4, 1, 2, 3)

We can use the multiplication operator (`*`) to repeat a tuple multiple times.

In [3]:
aTuple = ('xyz', 'zara', 'abc', 'xyz')
newTuple = aTuple*2
newTuple2 = 2*aTuple # The int value can come before or after the tuple
print(aTuple)
print(newTuple)
print(newTuple2)

('xyz', 'zara', 'abc', 'xyz')
('xyz', 'zara', 'abc', 'xyz', 'xyz', 'zara', 'abc', 'xyz')
('xyz', 'zara', 'abc', 'xyz', 'xyz', 'zara', 'abc', 'xyz')

The `count()` method counts the number of times an element occurs in a tuple.

In [4]:
aTuple = (123, 'xyz', 'zara', 'abc', 123)
print("Count for 123 : ", aTuple.count(123))
print("Count for zara : ", aTuple.count('zara'))

Count for 123 :  2
Count for zara :  1

The `index()` method returns the index of the first occurrence of the argument.

In [6]:
aTuple = (123, 'xyz', 'zara', 'abc', 123)
print("Index for xyz : ", aTuple.index( 'xyz'))
print("Index for zara : ", aTuple.index( 'zara')) # Will return an error since 'zarak' is not in the tuple.

Index for xyz :  1
Index for zara :  2

The `index()` method also accepts an optional argument __start__. If the value for __start__ is provided, the method returns the index of the first occurrence after the __start__ value of the first argument.

In [1]:
aTuple = (123, 'xyz', 'zara', 'abc', 123)
print("Index for 123 : ", aTuple.index( 123, 2))

Index for 123 :  4

The `del` operator.  While changing elements of a tuple is not possible since tuples are immutable, you can delete the entire tuple using the `del` operator.

In [8]:
aTuple = (123, 'xyz', 'zara', 'abc', 123)
print(aTuple)

(123, 'xyz', 'zara', 'abc', 123)

In [9]:
del aTuple
print(aTuple)

NameError: name 'aTuple' is not defined

You can use `tuple unpacking` to assign values to multiple variables in a single Python statement.  Note that the number of variables must exactly equal the number of values.  Note also that we can omit the parentheses in tuple assignment.

In [13]:
aTuple = (123, 'xyz', 'zara', 'abc', 123)
a,b,c,d,e = aTuple
print(a,b,c,d,e)

123 xyz zara abc 123

You can use slicing if you wish to use `tuple unpacking` to assign values to a fewer number of variables.

In [1]:
aTuple = (123, 'xyz', 'zara', 'abc', 123)
a,b,c = aTuple[:3]
print(a, b, c)

123 xyz zara

You can also use a dummy variable (`_`) with `tuple unpacking`  to assign values to a fewer number of variables.  Note that depending on the location of the `_`, the values assigned to the other variables will change.

Consider the two examples below.

In [2]:
a, b, c,_,_ = aTuple
print(a,b,c)

123 xyz zara

In [16]:
a,_,_,b,c = aTuple
print(a,b,c)

123 abc 123

To use multiple dummy variables, we can use `_` prefixed by `*`. Note that dependeing on the location of the `*_`, the values assigned to the other variables will change.

Consider the two examples below.

In [17]:
a, b,*_ = aTuple
print(a,b)

123 xyz

You can also use the `*` with a valid variable name.  In this case, the available values from the right hand side will be assigned as a list to the variable with the `*`.

Consider the example below

In [19]:
a, *b, c = aTuple
print(a)
print(b)
print(c)

123
['xyz', 'zara', 'abc']
123