<h3> List Functions</h3>
There are a number of built-in functions that can be used with lists. In this notebook, we cover some of them:

1.  `list()`:  used to create lists when supplied with a string or any other iterable object as an argument.
2.  `len()`:   finding the number of elements in a list using the len() function
3.  `range()`: used to generate a sequence of integers
4.  `max()`:   used to find the largest value in an iterable
5.  `sum()`:   used to find the sum of all elements in an iterable.  Cannot be applied to sequences containing non-numeric values
6.  `min()`:   used to find the smallest value in a sequence
7.  `in` and `not in` membership operators

Lists can be created from strings by using the `list()` function.  
Note the following:

1.  When converting a string to a list, each character (including spaces) is considered a separate element.  
2.  A list can have duplicate elements, that is, a list can have the same element repeated multiple times.

In [1]:
my_new_lst = list("Creating a list from a string")
print(my_new_lst)
print(len(my_new_lst))
print(len("Creating a list from a string"))

['C', 'r', 'e', 'a', 't', 'i', 'n', 'g', ' ', 'a', ' ', 'l', 'i', 's', 't', ' ', 'f', 'r', 'o', 'm', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']
29
29

Another Example

In [2]:
my_new_lst2 = list((2,3,4,5,6))
print(my_new_lst2)
print('The length of my_lst_2 is:',len(my_new_lst2))

[2, 3, 4, 5, 6]
The length of my_lst_2 is: 5

List traversal can be done in the following manner and is the recommended approach to traversing a list.

In [1]:
my_new_lst2 = list("2345678")
for ele in my_new_lst2:
    print(ele)

2
3
4
5
6
7
8

In the example below, we print out each element of a list.  If an element is itself a list, the individual elements of the list are printed out.

In [3]:
my_lst = ['hello', 5, 19, [5,'mix'],3,4]
for ele in my_lst:
    print(ele)
    if type(ele) == list:
        for i in ele:
            print(i)

hello
5
19
[5, 'mix']
5
mix
3
4

You can find the number of elements in a list, using the `len()` function.  
You can then traverse the list using the `for` construct, together with the `range()` function as shown below.  However, this is not the recommended approach since it is more ineficient than the approach discussed in the previous cell.

In [4]:
my_new_lst2 = list("2345678")
for i in range(len(my_new_lst2)):
    print(my_new_lst2[i])

2
3
4
5
6
7
8

To find the element in a list with the highest value, use the `max()` function.  Note that the max function can be applied to both numeric as well as alpha numeric values but not to a list that contains a mix of both types.

In [8]:
my_new_lst = list("Creating a list from a string")
my_new_lst1 = [2,3,4,5,6,7,8]
my_new_lst2 = [2,3,4,5,6,7,8, 'asdsf']
print('The max of my_lst: ',max(my_new_lst))
print('The max of my_lst1: ',max(my_new_lst1))
print('The max of my_lst2: ',max(my_new_lst2))

The max of my_lst:  t
The max of my_lst1:  8

TypeError: '>' not supported between instances of 'str' and 'int'

To find the element in a list with the smallest value, use the `min()` function.  Note that the min function can be applied to both numeric as well as alpha numeric values.  The space character is the smallest in the `my_new_lst` list.

In [7]:
my_new_lst = list("Creating a list from a string")
my_new_lst2 = [2,3,4,5,6,7,8]
my_new_lst3 = list("Creatingalistfromastring")
print('1. ', min(my_new_lst)) # This will display a space
print('2. ', min(my_new_lst2))
print('3. ', min(my_new_lst3))

1.
2.  2
3.  C

To find the total of the elements in a list, use the `sum()` function.  The `sum()` function cannot be applied to lists with non-numeric values

In [9]:
my_new_lst = list("Creating a list from a string")
my_new_lst2 = [2,3,4,5,6,7,8]

#print(sum(my_new_lst)) #This will result in an error
print(sum(my_new_lst2))

35

The `in` and `not in` operators, referred to as membership operators are used to specify whether or not an element is in a list

In [10]:
my_list = [[10], 20, 30, 40, 50 ]
print(10 in my_list)
print(54 in my_list)

print(10 not in my_list)
print(54 not in my_list)

False
False
True
True